/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center; /* Центрирование текста внутри body */
}

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Стилизация календаря */
input[type="date"] {
    -webkit-appearance: none; /* Удаление стандартного внешнего вида для WebKit */
    -moz-appearance: none; /* Удаление стандартного внешнего вида для Firefox */
    appearance: none; /* Удаление стандартного внешнего вида */
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/></svg>'); /* Использование SVG иконки для календаря */
    background-repeat: no-repeat; /* Запрещаем повторение фона */
    background-position: right center; /* Позиционирование иконки справа по центру */
    padding-right: 30px; /* Добавление отступа справа для размещения иконки */
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
