/* Стили для контейнера формы */
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Стили для заголовка формы */
h2 {
    text-align: center;
}

/* Стили для меток */
label {
    font-weight: bold;
}

/* Стили для текстовых полей */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* чтобы padding не добавлялся к ширине */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки регистрации */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Стили для сообщений об ошибках */
div.error-message {
    color: red;
    margin-top: 5px;
    font-size: 0.8em;
}
