<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/forgot_password.css">
  <title>Registration</title>
</head>
<body>
<h2>Forgot Password Form</h2>
<div class="container">
  <form th:method="post" th:action="@{/forgotPassword}" th:object="${user}">
    <label for="email">Email:</label><br>
    <input type="email" th:field="*{email}" id="email" name="email" required>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>

    <input type="submit" value="Send">

  </form>
</div>

</body>
</html>
