<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/friends.css">
    <title>Friends</title>
</head>
<body>
<h1>Friend Requests</h1>
<ul id="friendRequestList" class="profile-list">
    <th:block th:each="friendRequest : ${friendRequests}">
        <li class="profile-card">
            <a th:href="@{/profile/{login}(login=${friendRequest.getSender().getLogin()})}" class="profile-link">
                <img class="user-photo" th:if="${friendRequest.getSender().getPhotoFileName() != null}"
                     th:src="@{/uploads/{filename}(filename=${friendRequest.getSender().getPhotoFileName()})}"
                     alt="User Photo">
                <div class="profile-info">
                    <span th:text="${friendRequest.getSender().getName()} + ' ' + ${friendRequest.getSender().getSurname()}"
                          th:unless="${friendRequest.getSender().getName() == null && friendRequest.getSender().getSurname() == null}"></span>
                    <span th:text="${friendRequest.getSender().getLogin()}"
                          th:if="${friendRequest.getSender().getName() == null && friendRequest.getSender().getSurname() == null}"></span>
                </div>
            </a>
        </li>
    </th:block>
</ul>

<h1>Friends</h1>
<ul id="friendList" class="profile-list">
    <th:block th:each="friend : ${friends}">
        <li class="profile-card">
            <a th:href="@{/profile/{login}(login=${friend.getFriend().getLogin()})}" class="profile-link">
                <img class="user-photo" th:if="${friend.getFriend().getPhotoFileName() != null}"
                     th:src="@{/uploads/{filename}(filename=${friend.getFriend().getPhotoFileName()})}"
                     alt="User Photo">
                <div class="profile-info">
                    <span th:text="${friend.getFriend().getName()} + ' ' + ${friend.getFriend().getSurname()}"
                          th:unless="${friend.getFriend().getName() == null && friend.getFriend().getSurname() == null}"></span>
                    <span th:text="${friend.getFriend().getLogin()}"
                          th:if="${friend.getFriend().getName() == null && friend.getFriend().getSurname() == null}"></span>
                </div>
            </a>
        </li>
    </th:block>
</ul>
</body>
</html>



