<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="/css/registration.css">&ndash;&gt;-->
<!--  <title>Registration</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Registration Form</h2>-->
<!--<div class="container">-->
<!--  <form th:method="post" th:action="@{/resetPassword}" th:object="${user}">-->
<!--    <label for="email">Email:</label><br>-->
<!--&lt;!&ndash;    <input type="email" th:field="*{email}" id="email" name="email" required>&ndash;&gt;-->
<!--    <input type="email" name="email" id="email" th:value="${user.email}"  readonly="readonly">-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>-->
<!--    <br>-->

<!--    <label for="password">Password:</label><br>-->
<!--    <input type="password" th:field="*{password}" id="password" name="password" required>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>-->
<!--    <br>-->

<!--    <label for="confirmPassword">Confirm Password:</label><br>-->
<!--    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" required>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">-->
<!--      Confirm password error-->
<!--    </div>-->
<!--    <br>-->

<!--    <input type="submit" value="Register">-->

<!--  </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset_password.css">
  <title>Reset Password</title>
</head>
<body>
<h2>Reset Password Form</h2>
<div class="container">
  <form th:method="post" th:action="@{/resetPassword}" th:object="${user}">
    <!-- Добавляем скрытое поле для токена -->
    <input type="hidden" name="token" th:value="${token}"/>

    <label for="email">Email:</label><br>
    <input type="email" th:field="*{email}" id="email" name="email" readonly="readonly">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>

    <label for="password">Password:</label><br>
    <input type="password" th:field="*{password}" id="password" name="password" required>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>

    <label for="confirmPassword">Confirm Password:</label><br>
    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" required>
    <div style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
      Confirm password error
    </div>
    <br>

    <input type="submit" value="Reset Password">
  </form>
</div>
</body>
</html>
